<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Live Video Stream</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <h1>Welcome to Our Site!</h1>
    <textarea id="tokenTXT"></textarea>
    <br />
    <label id="roomName"></label>
    <button id="viewStreamBtn" class="stream-button">View Stream</button>

    <br /><br />

    <div id="video-container">
      <p id="stream-status-message">
        No video available. Please click "View Stream" to load the video.
      </p>
      <!-- Video elements will be attached here -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/livekit-client/dist/livekit-client.umd.min.js"></script>
    <script src="static/index.js"></script>
    <script>
      wsServer = "<%= wsServer %>";
    </script>
  </body>
</html>
